#textdomain wesnoth-Era_of_Chaos
[era]
    id=Era_of_Chaos
    name= _ "Era of Chaos"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/Era_of_Chaos/factions/chaos/wild-humans.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/sylvans.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/quenoth.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/imperials.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/infernals.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/dwarves.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/outlaws.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/undead.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/vampires.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/elementals.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {VAMPIRE_TRANSFORMATION_EVENT}

    [event]
        name=ptest

        [set_variables]
            name=frames
            mode=append
            [value]
                1=units/human-magi/red-mage.png
                2=units/human-magi/red-mage-attack-magic-1.png
                3=units/human-magi/red-mage-attack-magic-2.png
                4=units/human-magi/red-mage-attack-staff-1.png
                5=units/human-magi/red-mage-attack-staff-2.png
                modifiers=~RC(magenta>red)
                x,y=1,1
            [/value]

            [value]
                1=units/human-magi/red-mage.png
                2=units/human-magi/red-mage-attack-magic-1.png
                3=units/human-magi/red-mage-attack-magic-2.png
                4=units/human-magi/red-mage-attack-staff-1.png
                5=units/human-magi/red-mage-attack-staff-2.png
                modifiers=~RC(magenta>red)~PAL(red_mage_cloak>rm_water_cloak)
                x,y=10,10
            [/value]

            [value]
                1=units/human-magi/red-mage.png
                2=units/human-magi/red-mage-attack-magic-1.png
                3=units/human-magi/red-mage-attack-magic-2.png
                4=units/human-magi/red-mage-attack-staff-1.png
                5=units/human-magi/red-mage-attack-staff-2.png
                modifiers=~RC(magenta>red)~PAL(red_mage_cloak>rm_earth_cloak)
                x,y=15,15
            [/value]

            [value]
                1=units/human-magi/red-mage.png
                2=units/human-magi/red-mage-attack-magic-1.png
                3=units/human-magi/red-mage-attack-magic-2.png
                4=units/human-magi/red-mage-attack-staff-1.png
                5=units/human-magi/red-mage-attack-staff-2.png
                modifiers=~RC(magenta>red)~PAL(red_mage_cloak>rm_wind_cloak)
                x,y=20,20
            [/value]
        [/set_variables]

        {FOREACH frames i}
            [item]
                x,y=$"(1 + $frames[$i].x)",$"(1 + $frames[$i].y)"
                image=$frames[$i].1|$frames[$i].modifiers
            [/item]

            [item]
                x,y=$"(2 + $frames[$i].x)",$"(2 + $frames[$i].y)"
                image=$frames[$i].2|$frames[$i].modifiers
            [/item]

            [item]
                x,y=$"(3 + $frames[$i].x)",$"(3 + $frames[$i].y)"
                image=$frames[$i].3|$frames[$i].modifiers
            [/item]

            [item]
                x,y=$"(4 + $frames[$i].x)",$"(4 + $frames[$i].y)"
                image=$frames[$i].4|$frames[$i].modifiers
            [/item]

            [item]
                x,y=$"(5 + $frames[$i].x)",$"(5 + $frames[$i].y)"
                image=$frames[$i].5|$frames[$i].modifiers
            [/item]
        {NEXT i}
    [/event]
[/era]

#ifhave ~add-ons/The_Aragwaithi/_main.cfg
[era]
    id=Chaos+Aragwaihi
    name= _ "Chaos + Aragwaithi"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/The_Aragwaithi/faction.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/wild-humans.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/sylvans.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/quenoth.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/imperials.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/infernals.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/dwarves.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/outlaws.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/undead.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/vampires.cfg}
    {~add-ons/Era_of_Chaos/factions/chaos/elementals.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {VAMPIRE_TRANSFORMATION_EVENT}
[/era]
#endif

[era]
    id=Chaos RPG Era
    name= _ "Chaos RPG Era"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/Era_of_Chaos/factions/rpg/wild-humans-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/sylvans-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/quenoth-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/imperials-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/infernals-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/dwarves-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/outlaws-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/undead-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/vampires-rpg.cfg}
    {~add-ons/Era_of_Chaos/factions/rpg/elementals-rpg.cfg}

    {VAMPIRE_TRANSFORMATION_EVENT}
[/era]

[era]
    id=Heroes of Chaos
    name= _ "Heroes of Chaos"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/Era_of_Chaos/factions/heroes/wild-humans-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/sylvans-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/quenoth-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/imperials-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/infernals-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/dwarves-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/outlaws-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/undead-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/vampires-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/elementals-aoh.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {VAMPIRE_TRANSFORMATION_EVENT}
[/era]

#ifhave ~add-ons/The_Aragwaithi/_main.cfg
[era]
    id=Heroes of Chaos+Aragwaithi
    name= _ "Heroes of Chaos+Aragwaithi"
    require_era=yes

    {RANDOM_SIDE}
    {~add-ons/The_Aragwaithi/faction-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/wild-humans-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/sylvans-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/quenoth-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/imperials-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/infernals-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/dwarves-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/outlaws-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/undead-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/vampires-aoh.cfg}
    {~add-ons/Era_of_Chaos/factions/heroes/elementals-aoh.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {VAMPIRE_TRANSFORMATION_EVENT}
[/era]
#endif
