#textdomain wesnoth-Era_of_Chaos
[unit_type]
    id=Wild Crossbowman
    name=_ "Crossbowman"
    race=human
    gender=male
    image="units/human-wild/crossbowman.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=smallfoot
    [defense]
        sand=60
    [/defense]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
    [/resistance]
    movement=5
    experience=100
    {AMLA_DEFAULT}
    level=2
    alignment=neutral
    advances_to=null
    undead_variation=archer
    cost=22
    usage=archer
    description= _ "Though the archers' service duties are mostly tedious, sometimes they turn into a real combat encounter. Those who survive a few serious fights go on to become official crossbowmen. Though they possess some valuable experience and have a bit better standing, most still wish they had been never taken into the army."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-wild/crossbowman.png" "units/human-wild/crossbowman.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=short sword
        description={STR_SHORT_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-wild.png
        type=pierce
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-wild-fire.png
        type=fire
        range=ranged
        damage=7
        number=3
    [/attack]

    #{{{ sword anim
    [attack_anim]
        [filter_attack]
            name=short sword
        [/filter_attack]
        start_time=-275

        [frame]
            duration=50
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-wild/crossbowman.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/human-wild/crossbowman.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/human-wild/crossbowman.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            duration=50
            image="units/human-wild/crossbowman.png"
        [/frame]
    [/attack_anim]
    #}}}
    #{{{ ANIM PIERCE
    [attack_anim]
        [filter_attack]
            name=crossbow
            type=pierce
        [/filter_attack]
        start_time=-445
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        [frame]
            duration=65
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            duration=75
            image="units/human-wild/crossbowman.png"
        [/frame]
        [if]
            hits=no
            [frame]
                duration=100
                image="units/human-wild/crossbowman.png"
                sound=crossbow-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                duration=100
                image="units/human-wild/crossbowman.png"
                sound=crossbow.ogg
            [/frame]
        [/else]
        [frame]
            duration=130
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            duration=65
            image="units/human-wild/crossbowman.png"
        [/frame]
    [/attack_anim]
    #}}}
    #{{{ ANIM FIRE
    [attack_anim]
        [filter_attack]
            name=crossbow
            type=fire
        [/filter_attack]
        [if]
            hits=yes

            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
                offset=0~0.8
            [/missile_frame]

            {FIRE_BURST_SMALL}

            [frame]
                begin=-400
                end=-350
                image="units/human-wild/crossbowman.png"
                sound=crossbow-fire.ogg
            [/frame]
        [/if]
        [else]
            hits=no

            [missile_frame]
                begin=-150
                end=0
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
            [/missile_frame]

            [frame]
                begin=-400
                end=-350
                image="units/human-wild/crossbowman.png"
                sound=crossbow-fire-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-350
            end=-300
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            begin=-300
            end=-250
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            begin=-250
            end=-100
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            begin=-100
            end=-50
            image="units/human-wild/crossbowman.png"
        [/frame]
        [frame]
            begin=-50
            end=100
            image="units/human-wild/crossbowman.png"
        [/frame]
    [/attack_anim]

    #}}}
[/unit_type]
