#textdomain wesnoth-Era_of_Chaos

#define ABILITY_PROTECTION
    [resistance]
        id=protection
        add=20
        max_value=50
        apply_to=blade,pierce,impact,fire,cold,arcane
        name= _ "protection"
        description= _ "Protection:
Adjacent units of level 1 or below from this side receive a +20% bonus to all resistances (up to a maximum of 50%)."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
                [or]
                    level=1
                [/or]
            [/filter]
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_TERROR_LEVEL_1
    [leadership]
        id=terror
        value=-30
        cumulative=no
        name= _ "terror"
        description= _ "Terror:
This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of lower level will do less damage in battle. When an enemy unit of the same or lower level is adjacent and engages in combat, its attacks do 15% less damage times the difference in their levels + 15%."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=terror
        value=-15
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_TERROR_LEVEL_2
    [leadership]
        id=terror
        value=-45
        cumulative=no
        name= _ "terror"
        description= _ "Terror:
This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of lower level will do less damage in battle. When an enemy unit of the same or lower level is adjacent and engages in combat, its attacks do 15% less damage times the difference in their levels + 15%."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=terror
        value=-30
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=terror
        value=-15
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=2
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_TERROR_LEVEL_3
    [leadership]
        id=terror
        value=-60
        cumulative=no
        name= _ "terror"
        description= _ "Terror:
This unit can frighten enemy units that are next to it, making them fight worse.

Adjacent enemy units of lower level will do less damage in battle. When an enemy unit of the same or lower level is adjacent and engages in combat, its attacks do 15% less damage times the difference in their levels + 15%."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=terror
        value=-45
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=terror
        value=-30
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=2
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=terror
        value=-15
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=3
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_SYLVAN_SPARK
    [regenerate]
        value=5
        id=sylvan_spark
        name= _ "sylvan spark"
        description= _ "Sylvan Spark:
While in vegetated terrains, the unit will heal itself 5 hp per turn. If it is poisoned, it will remove the poison instead of healing. Vegetated terrains are forest, great tree, farmland and mushroom grove hexes."
        name_inactive= _ "sylvan spark"
        description_inactive= _ "Sylvan Spark:
While in vegetated terrains, the unit will heal itself 5 hp per turn. If it is poisoned, it will remove the poison instead of healing. Vegetated terrains are forest, great tree, farmland and mushroom grove hexes."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=*^F*, *^Uf, *^Ufi, *^Gvs
            [/filter_location]
        [/filter_self]
        poison=cured
    [/regenerate]
#enddef

# wmllint: unbalanced-on
#define ABILITY_PHYSICAL_ENDURANCE
    [dummy]
        id=physical_endurance
        name= _ "physical endurance"
        description= _ "Physical Endurance:
Units with this ability instantly regenerate half of the damage dealt to them unless its type is arcane, or the damage amount would kill them otherwise (greater than or equals their remaining HP)."
    [/dummy]
    # wmlxgettext: [abilities]
[/abilities]

[event]
    id=ability_physical_endurance_attacker_hits
    name=attacker hits
    first_time_only=no
    [filter_second]
        ability=physical_endurance
    [/filter_second]
    [filter_attack]
        [not]
            type=arcane
        [/not]
    [/filter_attack]

    [fire_event]
        name=physical endurance handler
        [primary_unit]
            x,y=$x2,$y2
        [/primary_unit]
        [secondary_unit]
            x,y=$x1,$y1
        [/secondary_unit]
    [/fire_event]
[/event]
[event]
    id=ability_physical_endurance_defender_hits
    name=defender hits
    first_time_only=no
    [filter]
        ability=physical_endurance
    [/filter]
    [filter_second_attack]
        [not]
            type=arcane
        [/not]
    [/filter_second_attack]

    [fire_event]
        name=physical endurance handler
        [primary_unit]
            x,y=$x1,$y1
        [/primary_unit]
        [secondary_unit]
            x,y=$x2,$y2
        [/secondary_unit]
    [/fire_event]
[/event]
[event]
    id=ability_physical_endurance_handler
    name=physical endurance handler
    first_time_only=no

    # Primary unit: physical endurance user
    # Secondary unit: attacker/defender

    [if]
        {VARIABLE_OP unit.hitpoints greater_than 0}
        [then]
            {VARIABLE_OP temp_PHYSICAL_ENDURANCE_restore_hp to_variable damage_inflicted}
            {VARIABLE_OP temp_PHYSICAL_ENDURANCE_restore_hp divide      2}
            {VARIABLE_OP temp_PHYSICAL_ENDURANCE_restore_hp round       ceil}

            [heal_unit]
                [filter]
                    x,y=$x1,$y1
                [/filter]
                amount=$temp_PHYSICAL_ENDURANCE_restore_hp
            [/heal_unit]

            [floating_text]
                x,y=$x1,$y1
                text="<span color='green'>$heal_amount</span>" # wmllint: ignore
            [/floating_text]

            {CLEAR_VARIABLE temp_PHYSICAL_ENDURANCE_restore_hp}
        [/then]
    [/if]
[/event]

[+abilities]
    # wmlxgettext: [/abilities]
#enddef
# wmllint: unbalanced-off
