#textdomain wesnoth-Era_of_Chaos

#define SPECIAL_NOTES_PROTECTION
_ "This unit can protect those of level 0 and 1 around them, granting them extra resistances."#enddef

#define SPECIAL_NOTES_SYLVAN_SPARK
_ " This unit will regenerate 5 HP per turn in forest or mushroom grove terrains." #enddef

#define SPECIAL_NOTES_TERROR
_ " This unit can frighten enemy units that are next to it, making them fight worse." #enddef

#define SPECIAL_NOTES_PRECISION
_" This unit can attack very precisely, giving it a better chance to hit agile foes on the offense."#enddef

#define SPECIAL_NOTES_PHYSICAL_ENDURANCE
_ " This unit will instantly regenerate half of the damage deal on it with non-arcane attacks, unless it would otherwise kill it." #enddef

#define SPECIAL_NOTES_COUNTER
_ " While defending this unit's counter attacks will always have at least 60% chance to hit." #enddef

#define SPECIAL_NOTES_DEFEND_ONLY
    _ " Some of this unit’s attacks are only available during defense." #enddef