#textdomain wesnoth-Era_of_Chaos

[unit_type]
    id=Biomechanical Soldier
    name= _ "Biomechanical Soldier"
    image="units/human-chaos/invader.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/human-chaos/invader-move.png"
        [/frame]
    [/movement_anim]
    race=shaxthal
    hitpoints=36
    movement_type=biomechanical_smallfoot
    movement=5
    experience=44
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    level=1
    alignment=chaotic
    advances_to=Biomechanical Knight
    cost=17
    description= _ "..."
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-chaos/invader-defend.png" "units/human-chaos/invader.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/sword-orcish.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image="units/human-chaos/invader-attack1.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image="units/human-chaos/invader-attack1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image="units/human-chaos/invader-attack2.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/human-chaos/invader-attack3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
